.carrossel{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.carrosselView{
    display: flex;
}

.carrosselNotView{
    display: none;
}

.works{
    display: grid;
    align-items: center;
}

.radios{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanRaio {
    text-align: center;
    background: rgba(255,255,255,.03);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5em;
    color: #c2accab6;
    text-align: center;
}

.divRadioOn {
    margin: 5px;
    text-align: center;
    background: rgba(1, 9, 28, 0.75);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(240, 248, 255, 0.2);
}
.divRadioOff{
    margin: 5px;
    text-align: center;
    background: rgba(255,255,255,.03);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 2px solid #edeaee80;
}

