.footer{
    display: flex;
    justify-content: center;    
}

.footer ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.footer a{  
    margin: 10px;
    color:aliceblue;
}

.footer p{
    margin: 25px;
}

.footer .whatsapp a:hover {
    color:#74FAC0;
}
.footer .git a:hover {
    color:rgb(167, 84, 167);
}
.footer .linkdin a:hover {
    color:rgb(32, 178, 245);
}
.footer .pdf a:hover {
    color:rgb(177, 42, 24);
}


@media screen and (max-width: 600px){
    .footer{
        flex-direction: column;
        align-items: center; 
        color:rgb(240, 248, 255);  
    }
    
    .footer a{
        margin: 5px;
    }

    .footer p{
        
        align-items: left; 
        margin: 5px;
    }
}