.footer{
    display: flex;
    justify-content: center;    
}

.footer ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.footer a{
    
    margin: 10px;
    color:aliceblue;
}

.footer .whatsapp a:hover {
    color:#74FAC0;
}
.footer .git a:hover {
    color:rgb(167, 84, 167);
}
.footer .linkdin a:hover {
    color:rgb(32, 178, 245);
}

.footer p{
    margin: 25px;
}