.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.footer a{  
    color:aliceblue;
}
.footer p{
    margin: 2px;
}


@media screen and (max-width: 600px){
    .footer{
        flex-direction: column;
        align-items: center; 
        color:rgb(240, 248, 255);  
    }
    
    .footer a{
        margin: 5px;
    }

    .footer p{
        align-items: left; 
        margin: 5px;
    }
}