.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    margin: 10px;
}

.navbar a{
    color:aliceblue;
}

.navbar .whatsapp a:hover {
    color:#74FAC0;
}
.navbar .git a:hover {
    color:rgb(167, 84, 167);
}
.navbar .linkdin a:hover {
    color:rgb(32, 178, 245);
}