.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    margin: 10px;
}

.navbar a{
    color:aliceblue;
}

@media screen and (max-width: 900px){
    .navbar{
        padding: 0.1em;
    }
    
    .navbar li{
        margin: 2%;
    } 

    .navbar .contact{
        display: none;
    }
}