.presentation{
    text-align: left;
    margin-left: 12%;
    max-width: 50%;
}

.presentation h1{
    margin-bottom: 0;
}

.presentation h4{
    font-size: 20px;
}
.presentation h6{
    margin-left: 65%;
}

@media screen and (max-width: 500px){
    .presentation{
        max-width: 90%;
    }
    
    .presentation h4{
        font-size: 15px;
    }
    .presentation h6{
        margin-left: 50%;
    }
}

@media screen and (max-width: 1000px){
    .presentation{
        max-width: 75%;
    }
    
    .presentation h4{
        font-size: 15px;
    }
    .presentation h6{
        margin-left: 50%;
    }
}