.projects {
    text-align: justify;
    margin: 5em;
}

.selectCards{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px){
    .projects{
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        text-align: center;
    }
}